body {
font-family:Helvetica;
line-height:150%;
margin:90px 75px;
padding:20px;
text-align:left;
background:url(../Images/background.jpg) 100%;
background-color:#000000;
color:#777777;
}
h1 {
margin:20px 100px;
color:#FFFFFF;
text-align:center;
}
h2 {
margin:0px 0px;
color:#AAAAAA;
text-align:center;
}
h3 {
margin:0px 0px;
color:;
}
h4 {
margin:0px 0px;
color:;
}
h5 {
margin:0px 0px;
color:;
}
h6 {
margin:0px 0px;
color:;
}
p {
margin:0px 0px;
text-align:left;
}
img {
padding:10px;
border:5px;
background-color:#000000;
display: block;
    margin: 0 auto;
}
a:link, a:visited {
font-weight:normal;
color:#999999;/*7094FF*/
width:120px;
text-align:center;
padding:3px;
text-decoration:none;
border:0;
}
a:hover {
    color:#FFFFFF;
}
a:active {
    color:#FFFFFF;
}
header {
height:90px;
background:#000000;
margin:0px;
width:100%;
position:fixed;
padding:0px;
top:0px;
left:0px;
}
ul {
padding:0;
}
li {
display:inline;
}
.bg{
background:url(../Images/background.jpg);
height: 100%
}